In [1]:
import pandas as pd
from sklearn.metrics import precision_score, recall_score, f1_score

In [2]:
train = pd.read_csv('./train.csv')

In [3]:
train.shape

(1306122, 3)

In [10]:
answer = pd.read_csv('./answer.csv')
answer.head()

   Unnamed: 0  target
0     1004728       0
1      653806       0
2      760181       0
3      807058       0
4     1232356       0

In [11]:
predicted = pd.read_csv('./data.csv')
predicted.head()

,Unnamed: 0,qid,question_text,target
0,1004728,c4e715a348fae35d7892,Can you name 10 must visit cities / states in ...,0
1,653806,80100c5a400041dab5b6,Why is the term bilious fever no longer used?,0
2,760181,94f17bb712c29b36e487,How do I write a poem for a school competition...,0
3,807058,9e22d8e9d10b0186ae6e,What are the different types of digital storag...,0
4,1232356,f17ef03f2df95924e59a,Is Twenty One Pilots ever coming back?,0

In [8]:
predicted=predicted.reset_index(drop=True).drop(predicted.columns[0],axis=1)

In [12]:
accuracy = (answer.target == predicted.target).mean()

In [23]:
accuracy

0.9465648854961832

In [14]:
# calculate precision, recall, and f1 score
precision = precision_score(answer.target, predicted.target)
recall = recall_score(answer.target, predicted.target)
f1 = f1_score(answer.target, predicted.target)

# print the results
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

Precision: 0.46153846153846156
Recall: 1.0
F1 Score: 0.631578947368421