In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('../train.csv')

In [3]:
train.shape

(1306122, 3)

In [4]:
selected = train.sample(frac=0.0001)
sample = selected.drop('target', axis=1)
answer = selected.target
sample.head()

,qid,question_text
1004728,c4e715a348fae35d7892,Can you name 10 must visit cities / states in ...
653806,80100c5a400041dab5b6,Why is the term bilious fever no longer used?
760181,94f17bb712c29b36e487,How do I write a poem for a school competition...
807058,9e22d8e9d10b0186ae6e,What are the different types of digital storag...
1232356,f17ef03f2df95924e59a,Is Twenty One Pilots ever coming back?

In [5]:
answer.shape

(131,)

In [6]:
sample.to_csv('data.csv', index=True)

In [18]:
predicted=predicted.reset_index(drop=True).drop(predicted.columns[0],axis=1)

In [20]:
selected=selected.reset_index(drop=True)

In [22]:
accuracy = (selected.target == predicted.target).mean()

In [23]:
accuracy

0.9465648854961832

In [21]:
selected.head()

,qid,question_text,target
0,c4e715a348fae35d7892,Can you name 10 must visit cities / states in ...,0
1,80100c5a400041dab5b6,Why is the term bilious fever no longer used?,0
2,94f17bb712c29b36e487,How do I write a poem for a school competition...,0
3,9e22d8e9d10b0186ae6e,What are the different types of digital storag...,0
4,f17ef03f2df95924e59a,Is Twenty One Pilots ever coming back?,0

In [19]:
predicted.head()

,qid,question_text,target
0,c4e715a348fae35d7892,Can you name 10 must visit cities / states in ...,0
1,80100c5a400041dab5b6,Why is the term bilious fever no longer used?,0
2,94f17bb712c29b36e487,How do I write a poem for a school competition...,0
3,9e22d8e9d10b0186ae6e,What are the different types of digital storag...,0
4,f17ef03f2df95924e59a,Is Twenty One Pilots ever coming back?,0